/* Affichage à gauche de la liste et à droite des résultats */
#pagination {
    text-align: center;
}

#pagination a {
    padding: 5px 10px 5px 10px;
    color: white;
    background-color: #eb893a;
}

.card2 {
    background-color: black;
}

#pathologyDesc {
    color: white;
    background-color: #eb893a;
}

input[type='button'], input[type='button']:hover {
    border: none;
    background-color: transparent;
    color: white;
}

.float-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.col-4 {
    max-width: 100% !important;
}

.col-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.list {
  position: relative;
}
.list h2 {
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.list ul {
  position: relative;
}
.list ul li {
  position: relative;
  left: 0;
  color: #fce4ec;
  list-style: none;
  margin: 4px 0;
  border-left: 2px solid #eb893a;
  transition: 0.5s;
  cursor: pointer;
}
.list ul li:hover {
  left: 10px;
}
.list ul li span {
  position: relative;
  padding: 8px;
  padding-left: 12px;
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
}

.list ul li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #eb893a;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}
.list ul li:hover:before {
  transform: scaleX(1);
}