{% extends "header.twig" %}

{% block content %}
<div class="card">
    <img src="https://static.wikia.nocookie.net/kingdom-anime/images/2/22/Hi_Shin_Unit's_Appearance_anime_S2.PNG"/>
    <div class="textImageCentered">Bienvenue sur le site d'acupuncture !</div>
</div>
{% endblock %}