{% extends "header.twig" %}

{% block content %}
<h1 class="title">Connexion</h1>
<div class="card">
    <form action="/user/login" method="POST">
        <label for="email">Adresse e-mail</label>
        <input type="text" id="email" name="email" required />
        <br />
        <label for="password">Mot de passe</label>
        <input type="password" id="pwd" name="pwd" required />

        <br />
        <button type="submit">Se connecter</button>
        <br />
        <label>
            <a href="/user/register">Pas de compte ? Inscrivez vous</a>
            </br>
            <a href="/">Connectez vous sans compte</a>
        </label>
    </form>
    {% if verify is defined and verify == false %}
        <p>Votre adresse mail ou votre mot de passe est incorrect</p>
    {% endif %}
</div>
{% endblock %}