{% extends "header.twig" %}

{% block content %}
</br>
<h1 class="title">Filtre Pathologie</h1>
<div class="card">
    <form method="POST" action="/pathology/filter">
        <SELECT name="input" id="input">
            <option value="" selected>Choisir un critère</option>
            <option value="showtype">Type</option>
            <option value="showmeridien">Méridien</option>
            <option value="showcaracteristic">Caractéristique</option>
        </SELECT>

        <SELECT name="type" id="type">
            <option value="choisir" selected>choisir le type de pathologie</option>
            <option value="m">méridien</option>
            <option value="tf">organe/viscère</option>
            <option value="l">luo</option>
            <option value="mv">merveilleux vaisseaux</option>
            <option value="j">jing jin</option>
        </SELECT>

        <SELECT name="meridien" id="meridien">
            <option value="choisir" selected>choisir le meridien</option>
            {% for meridien in meridiens %}
                <option value="{{ meridien.name }}">{{ meridien.name }}</option>
            {% endfor %}
        </SELECT>

        <SELECT name="caracteristic" id="caracteristic">
            <option value="choose">choisir une caractéristique</option>
            <option value="full">plein</option>
            <option value="hot">chaud</option>
            <option value="empty">vide</option>
            <option value="cold">froid</option>
            <option value="intern">interne</option>
            <option value="extern">externe</option>
        </SELECT>

        <input type="submit" />

    </form>

    {% if pathologies is defined and pathologies %}
        {% for pathology in pathologies %}
            <ul>
                <li>
                    {{ pathology.desc }}
                </li>
            </ul>
        {% endfor %}
    {% else %}
        <p>Aucune pathologie n'a été trouvé pour les critères définis</p>
    {% endif %}
</div>
{% endblock %}